
body{
	width: 100%;
	overflow-x: hidden;
}

*{
	font : 1em calibri;
}

.nopnom{
	padding: 0;
	margin: 0;
}

.border_test{
	border : 1px black solid;
}

h3{
	font-size: 1.6em;
	font-weight: normal;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 1%;
}
p{
	text-align: justify;
}

.container{
	max-width: 100%;
}

.wrapper{
	max-width: 100%;
	margin-left: 12% !important;
	margin-right: 12% !important;
}

.bold{
	font-weight: bold;
}

a{
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

.centrer{
	display: flex;
	align-items: center;
}

.gras{
	font-weight: bold;
}

.gris {
	color: grey;
}

.marge_haute{
	margin-top: 7em;
}

.boutton{
color: #fff;
background-color : #70ad47;
text-align : center;
font-weight : bold;
padding : 0.9em;
border : 1px solid #70ad47;
border-radius : 10px;

}

.marge_index{
	margin-top : 7.05em;
}

.index_sec{
}

.index_sec img{
width : 41.67%;
height : auto;
}

.index_sec div{
margin-top: 7%;
margin-bottom: 10%;
color : #70ad47;
border: 4px #70ad47 solid;
border-radius: 10px;
}

.carousel-item{
	height: 90vh;
}

[class*="text_car"]{
	position : absolute;
	background-color: rgb(159,159,159,0.7);
	color: white;
	font-size: 2.5em;
	padding-left : 0.3em;
}

.text_car_1{
	width : 68.3%;
	bottom : 5%;
	left : 0;
}

.text_car_2{
	width : 69.4%;
	top : 20%;
	right : 0;
}

.text_car_3{
	width : 59.2%;
	bottom : 5%;
	left : 0;
}

.text_car_4{
	width : 87.4%;
	top : 50%;
	right : 0;
	transform : translateY(-50%);
}

.menu_item_1{
	font-weight: 500;
	height: 100%;
	padding-left: 1em;
	padding-right: 1em;
	display : flex;
	align-items : center;
	white-space: nowrap;
	}



.menu_item_1{
	color: white;

}

.menu_item_2{

}

.titre_header{
	font-size: 2em;
	white-space: nowrap;
}
.sous_titre_header{
	font-size: 1.2em;
	white-space: nowrap;
}
.texte_sur_premiere_image_accueil{
position : absolute;
bottom : 40%;
left : 50%;
transform : translateY(400%);
transform : translateX(-50%);
width : 100%;
text-align : center;
font-size : 3em;
color : white;
font-weight : bold;
text-shadow: #000 1px 0 5px;
text-align : center;
}

.premiere_image_accueil{
	width : 100%;
	height : auto;
	position : relative;
	overflow: hidden;
}

.titres_section_accueil{
	font-size : 2.7em;
}

.bouton_accueil{
	font-size : 1.4em;
}

.bouton_accueil_3{
	width : 25%;
	padding-bottom : 2em;
}

.bouton_accueil_1{
	width : 100%;
}

.bouton_accueil_2{
	 align-self : center;
	 width : 100%;
	 padding : 1em 10%;
}

.section_donner_du_sens{
	width : 100%;
	display : flex;
	justify-content : space-evenly;
	padding-bottom : 2em;
}

.section_donner_du_sens_enfant_1{
	width : 30%;
	display : flex;
	flex-wrap : wrap;
	align-content : space-between;
}

.section_donner_du_sens_enfant_2{
	width : 35%;
	display : flex;
	flex-direction : column;
	justify-content: space-between;
	padding-top : 2em;
}

.texte_section{
	text-align : center;
	display : flex;
	justify-content : space-evenly;
	font-size : 1.7em;
	color : #002060;
	position : relative;
	width : 90%;
	padding : 1em 0%;
	margin-left : 5%;
	white-space: nowrap;
}

.texte_section_2{
text-align : center;
display : flex;
justify-content : space-evenly;
font-size : 1.7em;
color : #002060;
position : relative;
width : 100%;
padding : 1em 0%;
margin-bottom : 3em;
white-space: nowrap;
}

.petite_image_accueil{
	width : 50%;
	position : relative;
}

.vignette_accueil{
	 height : 300px;
	 width : calc(300px * 0.84);
}


.container_carte_France{
	width : 30%;
	display : flex;
	flex-wrap : wrap;
	align-content : space-between;
}
input[type="checkbox"]{
	margin-right : 5px;
}

.section_financer_PME_locales{
	width : 100%;
	display : flex;
	justify-content : space-evenly;
	padding-bottom : 2em;
}

.ligne_vignettes_enfant{
	display : flex;
	justify-content : space-between;
	width : 50%;
}

.row{
	margin : 0;
}

.actualites_container{
	display : flex;
	flex-direction: column;
	width : 45%; white-space : nowrap
}

.image_article{
	width : 25%;
}

.ligne_vignettes{
	display: flex;
	justify-content: center;
}

[class*="sous_menu"]{
	position : absolute;
	background-color: white;
	bottom: 0;
	transform : translateY(100%);
	display: none;
}

[class*="sous_menu"] div:nth-child(2){
margin-top: 5%;
margin-bottom: 5%;
}
[class*="sous_menu"] div{
	width: 250px;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 4%;
	margin-bottom: 4%;
}

[class*="sous_menu"] div a:hover{
	color: #70ad47;
}

.titre_liste_de_fonds{
justify-content: center;
position: relative;
padding-bottom: 0.5em;
font-size: 2em;
}

.titre_liste_de_fonds:before {
  content : "";
  position: absolute;
  bottom  : 0;
  height  : 1px;
  width   : 26.5%;
  border-bottom:1px solid #70ad47;
}

img{
	width: 100%;
	height: auto;
}

.article{
	border: black 1px solid;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 17%;
	margin-right: 17%;
	height: 7em;
}

.article div img{
	width: 100%;
	height: 100%;
}

.article div div{
	font-size: 0.85em;
}

[class*="bouton_article"]{
	color: white;
	display: flex;
	align-items: center;
	justify-content:center;
	line-height : 280%;
}

.bouton_article_dec{
	background-color: #92d050;
}

.bouton_article_sous{
	background-color: #70ad47;
}

.nom_article{
	font-size: 1.4em;
	font-weight: bold;
}

.gestion_article{
	font-size: 1.4em;
}
.premier_filtre{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	background-color: #f2f2f2;
	margin-top : 5%;
}

.filtre{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	background-color: #f2f2f2;
}

.reset_filtres_container{
	position : relative;
}
#reset_filtres{
	position: absolute;
	bottom : 0;
	right : 0;
	transform : translateY(110%);
}

#form{
	margin-bottom : 5em;
}

footer{
	background-color: #70ad47;
	height : 5em;
	color: white;
}

footer .wrapper{
	max-width: 100%;
	height: 100%;
}

footer .wrapper div{
	margin-top: auto;
	margin-bottom: auto;
}

footer div div a{
	color: white;
}

footer div div a:hover{
	color: white;
}

.collapse {
  animation: collapse .5s ease forwards;
}

.open {
  animation: open .5s ease forwards;
}

@keyframes collapse {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: -7.05em;
  }
}

@keyframes open {
  from {
    opacity: 0;
    top: -7.05em;
  }
  to {
    opacity: 1;
    top: 0;
  }
}


header{
	height: 4.2em;
	z-index: 100;
	top: 0;
	position: fixed;
	width: 100%;
	background-color: white;
}
header .wrapper{
	max-width: 100%;
	height: 100%;
}

.ajuster{
	margin-top: auto;
	margin-bottom: auto;
	line-height: 1em;
}

.nav{
	width : 100%;
	height : 3em;
	display : flex;
	background-color: #70ad47;
}

.nav .wrapper{
	width : 100%;
	position: relative;
	display: inline-block;
	display: flex;
}

.header2{
	height: 4.5em;
	z-index: 99;
	top: 0;
	position: fixed;
	width: 100%;
	background-color: white;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

}

.header2 .wrapper{
	max-width: 100%;
	height: 100%;
}


.nav2{
	width : 100%;
	height : 5em;
	display : flex;
	background-color: #70ad47;
}

.nav2 .wrapper{
	width : 100%;
	position: relative;
	display: inline-block;
	display: flex;
}

.en_tete{
	line-height: 140%;
	margin-bottom: 0;
}


.cross_right{
	right: 2%;
	top: 1%;
	color : #9b9996;
	font-size: 3em;
	position: absolute;
}

.container_qsm{
	 height: 13.35em;
}

.container_qsm .wrapper{
	max-width: 100%;
	height: 100%;
}

.container_qsm .wrapper div{
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

.paragraphe_qui_sommes_nous_container{
	height: 31.2em;
}

.gros_titre{
	color : #70ad47;
	font-size : 2em;
	font-weight: bold;
}

.sous_titre{
	color : #70ad47;
	font-size : 1.5em;
}

.paragraphe{
	width : 50%;
	margin-bottom : 2em;
	text-align : justify;
}

.premiere_ligne_fond{
	 height: 47%;
	 background-color: #f2f2f2;
}

.deuxieme_ligne_fond{
	height: 53%;
}

.blank_line{
	 opacity : 0;
	 display : none;
}

.label_petite_image_accueil{
	position : absolute;
	bottom : 0;
	left : 50%;
	transform : translateX(-50%);
}

.image_1_pq_invest_container{
	width : 85%;
	position : absolute;
	top : 0;
	right : 0;
	overflow : hidden;
}

.image_1_pq_invest{
	width : 100%;
	object-fit: cover;
}

.image_1_pq_invest_super_container{
	position : relative;
	display : flex;
	flex-direction : column;
	margin-left : 12%;
	height : 45em;
	overflow : hidden;
}

.text_1_pq_invest_container{
	 position : absolute;
	 top : 0;
	 left : 0;
	 width : 94.12%  !important;
	 z-index : 90;
}

.text_2_pq_invest{
	 position : absolute;
	 top : 5%;
	 left : 50%;
	 width : 80%  !important;
}

.image_2_pq_invest_super_container{
	 position : relative;
	 display : flex;
	 flex-direction : column;
	 height : 51em;
	 margin-bottom : 5em;
}

.image_2_pq_invest_container{
	 width : 100%;
	 position : absolute;
	 top : 0;
	 left : 0;
	 height : 100%;
}

@media screen and (max-width: 1510px) {
	.article{
		font-size : 0.8em;
	}
}

@media screen and (max-width: 1400px) {
	#form{
		font-size : 0.8em;
	}
	.article{
		font-size : 0.7em;
	}
}

@media screen and (max-width: 1300px) {
	.premiere_image_accueil{
		height : 50vh;
		width : auto;
	}
	.titres_section_accueil{
		font-size : 2em;
	}
}

@media screen and (max-width: 1200px) {
	#form{
		font-size : 0.6em;
	}
	#min_montant{
		width : 50%;
	}
}

@media screen and (max-width: 1050px) {
	footer{
		font-size : 0.8em;
	}
}

@media screen and (max-width: 900px) {
	.texte_section, .texte_section_2{
		font-size : 1.2em;
	}
	.petite_image_accueil{
		width : 51%;
	}
}

@media screen and (max-width: 800px) {
	.petite_image_accueil{
		font-size : 0.8em;
	}
	footer{
		font-size : 0.6em;
	}
}

@media screen and (max-width: 680px) {

	.vignette_accueil{
		 height : 150px;
		 width : calc(150px * 0.84);
		 font-size: 0.6em;
	}
	.section_donner_du_sens{
		flex-direction : column;
		align-items : center;
	}
	.section_donner_du_sens_enfant_1{
		width : 60%;
	}
	.section_donner_du_sens_enfant_2{
		align-items: center;
	}
	.texte_section{
		font-size : 1em;
		width : 100%;
		margin : 1.5em;
		margin-bottom : 3em;
	}
	.texte_section_2{
		font-size : 1em;
		width : 100%;
		margin : 1.5em;
		margin-bottom : 3em;
	}
	.petite_image_accueil{
		width : 50%;
		font-size : 1em;
	}
	.bouton_accueil{
		font-size : 0.8em;
	}
	.section_2_enfant_3 div{
		flex-direction: column-reverse;
		align-items : center;
	}
	.container_carte_France{
		width : 50%;
	}
	.section_2_enfant_1 img{
		transform : translateX(15%);
	}
	.section_2{
		overflow: hidden;
	}
	.texte_sur_premiere_image_accueil{
		font-size : 1.5em;
	}
	.ligne_vignettes_enfant{
		width : 80%;
	}
	.actualites_container{
		width : 90%;
	}
	.titre_actu{
		font-size : 0.8em;
	}
	.vignette_accueil{
		font-size : 0.7em;
	}
	.titre_actualites{
		font-size : 1em;
	}
	.image_article{
		width : 30%;
	}
	footer{
		font-size : 0.6em;
	}
	.article{
		height : 15em;
	}
	.marge_haute{
		margin-top : 7em;
	}
	.premiere_ligne_fond{
		height : 35%;
	}
	.deuxieme_ligne_fond{
		height : 65%;
		font-size : 0.8em !important;
	}
	.bouton_accueil_1{
		width : 130%;
	}
	.bouton_accueil_2{
		width : 130%;
	}
	.bouton_accueil_3{
		width : 42%;
	}
	.article{
		margin-top : 7%;
		margin-bottom: 7%;
	}
	.blank_line{
		display: block;
	}
	[class*="bouton_article"]{
		line-height: 200%;
	}
	.filtre{
		padding-bottom : 0.7em;
	}
	.header2{
		height: 5em;
	}
	.paragraphe{
		width : 80%;
	}
	.image_1_pq_invest_container{
		right : -56%;
		height : 100%;
		width : auto;
	}
	.image_1_pq_invest{
		height : 100%;

	}
	.image_1_pq_invest_super_container{
		margin-left: 0;
		height : 50em;
	}
	.text_1_pq_invest_container{
		padding-left: 5%;
	}
	.text_2_pq_invest{
		 left : 25%;
	}
	.image_2_pq_invest_super_container{
		 height : 62em;
	}
	.image_2_pq_invest_container{
		 left : -20%;
	}
}

@media screen and (max-width: 620px) {
	.menu_item_1{
		font-size : 0.8em;
	}
	.titre_header{
		font-size: 1.6em;
	}
	.sous_titre_header{
		font-size: 0.96em;
	}
}

@media screen and (max-width: 500px) {
	.titres_section_accueil{
		font-size : 1.2em;
	}
}
